name: Build APK
on:
  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: 'npm'
        
    - name: Install JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: "temurin"
        java-version: "17"
        
    - name: Setup Android SDK
      uses: android-actions/setup-android@v2
      
    - name: Accept Android Licenses
      run: |
        yes | $ANDROID_HOME/tools/bin/sdkmanager --licenses
        
    - name: Install npm dependencies
      run: npm install
      
    - name: Make gradlew executable
      run: chmod +x ./gradlew
      working-directory: android
      
    - name: Build Android Release APK
      working-directory: android
      run: ./gradlew assembleRelease --no-daemon
      
    - name: Upload APK artifact
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: android/app/build/outputs/apk/release/app-release.apk
        retention-days: 7
